doctype
html
    include temp/header.pug
    body(dir="rtl")
      .full-container
        include temp/toolbar.pug
        include temp/navbar.pug        
        include temp/slider.pug        
        include temp/boys.pug        
        .offer(style="text-align:center;justify-content: center;display:flex")     
         include temp/boys-offer.pug 
        include temp/about.pug     
        include temp/sub.pug     
      include temp/footer.pug      
      

            

                    
                
            
