doctype
html
    include temp/header.pug
    body(dir="rtl")
      .full-container
        include temp/toolbar.pug
        include temp/navbar.pug        
        include temp/slider.pug        
        include temp/single-girls.pug  
        include temp/about.pug     
        include temp/sub.pug    
        include temp/footer-body.pug    
      include temp/footer.pug
      
     

            

                    
                
            
