.about
	h2 تعرف علينا 
	-for(var i=1;i<=6;i++)
		.col-6.col-sm-12.col-md-12
			.person
				.person-info
					img(src='img/brand/boys/1.jpg')
					.info
						.name مصطفر عبدالمؤمن
						.disc يكتب هناوصف الشخص 
						.social
							-
								var  icons=[
								{href:'تابعنا على ',icon:'fa fa-facebook',bg:'social-facebook'},
								{href:'https://www.twitter/mabdalmoamen',icon:'fa fa-twitter',bg:'social-twitter'},
								{href:'https://www.whatsapp/mabdalmoamen',icon:'fa fa-whatsapp',bg:'social-whatsapp'},
								{href:'https://www.instgram/mabdalmoamen',icon:'fa fa-instagram',bg:'social-instagram'}];
							for icon in icons
								a(href=icon.href class=icon.bg)
									i(class=icon.icon)
						.phone 01002208627
				
		