.single-page
  .left.col-6
    .product-view
      img.single(src="")
      span.fa.fa-angle-left.prev
      span.fa.fa-angle-right.nxt
      .slider
        img(src="img/brand/boys/1.jpg").active
        img(src="img/brand/boys/2.jpg")
        img(src="img/brand/boys/3.jpg")
        
  .right.col-6
    .product-info
      h3 اسم المنتج
      h2 وصف المنتج  
      ol
        li الخامه 
        li الشركة
        li  الصنع
        li الخامه 
        li الشركة
        li  الصنع
        
      .colors
        h5 اختر لونك المفضل  
          span ...!
        .Black(style="background:Black")
          span  الاسمر
        .White(style="background:White")
          span  الابيض 
        .Green(style="background:Green")
          span  الاخضر 
        .Grey(style="background:Grey")
          span  الرصاصي 
        .Yellow(style="background:Yellow")
          span  الاصفر 
        .Red(style="background:Red")
          span  الاحمر 
         
      .actions
        .price 120 جنيها 
        button.btn شراء
      .related
        h2 منتجات مشابهة  
        .col-6
          .related-item
            img(src="img/brand/boys/4.jpg")
            .actions
              small
                span اسم المنتج
              span 
                a(href='') تفاصيل أكثر 
        .col-6
          .related-item
            img(src="img/brand/boys/5.jpg")
            .actions
              small
                span اسم المنتج
              span 
                a(href='') تفاصيل أكثر 
            



