header
	.col-12
		.header
			.img
				img(src="./img/bg.jpg")
		
		.toolbar
			h1 كيدز  إستور
			.top-bar
				.col-5
					.right-bar
						.contact إطلبوا الان أو اتصلو على
							span 01002208627
						.lang
							select
								option العربية
								option EN 
									i.fa.fa-facebook
				.col-4
					.center-bar
						.login-signin
							span تسجيل الدخول
							span سجل معنا
						.my-cart
							span مراجعة مشترياتي 
								span 20 
									i.fa.fa-board
				.col-3
					.left-bar
						input(type="search" placeholder="ابحث")
	
		
